body {
    margin: 0;
    padding: auto;
}

.super_container{
    margin-top: 120px;
}

.logo_container {
    display: flex;
    align-items: center;
}

.title-wrapper {
    margin-top: 10px; /* Điều chỉnh khoảng cách giữa logo_container và tiêu đề */
}

.left-signup {
    background-color: #282828;
    border-radius: 20px;
    /* height:   !important; */
}

.btn-link {
    color: #837e77;
    font-size: 14px;
    line-height: 30px;
    margin-right: 20px;
}

.btn-link:hover {
    color: #ff769c !important;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.label-detail {
    font-size: 15px;
    margin-bottom: 7px;
}

.input-detail {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 100%;
}

.card-body {
    text-transform: uppercase;
}

.card-body h3 {
    font-family: "Oswald", sans-serif;
    /* font-size: 40px; */

}
.label-detail {
    font-size: 13px;
    color: #a2a2a2;
}

.infor-detail {
    padding-bottom: 20px;
}

.input-detail:focus {
    border-color: #fe4c50;
    border-width: 3px;
}

.label-detail:active {
    color: black;
}

.button-detail {
    background-color: #202124;
    border: none;
    height: 50px;
    border-radius: 30px;
}

.button-detail:hover {
    background-color: #ff363a;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
    box-sizing: border-box;
}

.container h1 {
    display: block;
    font-size: 35px;
    color: #f3f3f3;
    font-weight: 700;
    text-transform: uppercase;
}
.container h1 span {
    color: #fe4c50;
    font-size: 35px;
}
.container p {
    text-align: center;
    margin-top: 10px;
}

.container .login-btn {
    text-align: center;
}

.container .login-btn .btn {
    margin-top: 20px;
    width: 150px;
    border-radius: 50px;
    background-color: #282828;
    border: 1px solid white;
    color: white;
}

.container .login-btn .btn:hover {
    width: 150px;
    border-radius: 40px;
    background-color: #fe4c50;
    border: 1px solid #282828;
    color: white;
}

@keyframes slideInRight {
    from {
        transform: translateX(-12%);
    }
    to {
        transform: translateX(0);
    }
}

.left-signup {
    animation: slideInRight 1.7s ease-in-out;
}

@keyframes slideInLeft{
    from{
        transform: translateX(12%);
    }
    to{
        transform: translateX(0%);
    }
}
.right-signup{
    animation: slideInLeft 1.7s ease-in-out;
}

.social-container {
    margin: 10px 0 10px 0;
}

.social-container a {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    color: white
}

.button-google{
    background-color: #e4002b;
    border-radius: 30px;
    border: none;
}
.button-google:hover{
    background-color: #e4002b;
    color: #202124;
}


.social-container a i{
    color: white;
}


.continue h5{
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

